@import '../../config/config';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&display=swap');
@import '../../config/linearicons.scss';

.inline_drop_down {
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0 10px;
  height: 100%;

  & > label, .input {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  & > label {
    color: $theme-mid-grey;
    font-size: 14px;
    float: left;
    padding: 7px 5px 0 0;
  }

  .input {
    position: relative;
    display: block;
    float: right;
    max-width: 70px;

    select {
      background-color: transparent;
      width: 100%;
      padding: 6px 17px 6px 0;
      outline: none;
      height: 100%;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-size: 15px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      border:none;
      bottom:2px;
    }

    select::-ms-expand {
      display: none;
    }

    & > span {
      position: absolute;
      right: -3px;
      font-size: 11px;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
