@import '../../config/config';

button.btn {
  border-radius: 2px;
  text-align: center;
  outline: none;
  cursor: pointer;

  .loading_icon {
    width: 24px;
    display: inline;
    vertical-align: middle;
  }

  & > span {
    display: inline-block;
    vertical-align: middle;
  }

  & > .icon {
    padding-right: 5px;
  }
}

.btn:hover {
  opacity: 0.9;
}

.default_btn {
  background-color: $theme-yellow;
  font-weight: 600;

  span {
    color: $theme-black;
  }
}

.grey_btn {
  background-color: $theme-light-grey;
  font-weight: 600;

  span {
    color: $theme-black;
  }
}

.blue_btn {
  background-color: $theme-blue;
  font-weight: 600;

  span {
    color: $white-color;
  }
}

.white_btn {
  background-color: $white-color;
  font-weight: 400;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);

  span {
    color: $theme-dark-grey;
  }
}

.disabled_btn {
  opacity: 0.7;
  cursor: inherit;
}

.btn_size_xs {
  padding: 0 5px;
  height: 30px;
  min-width: 60px;

  .icon {
    font-size: 11px;
  }

  .label {
    font-size: 12px;
  }
}

.btn_size_s {
  padding: 0 10px;
  height: 35px;
  min-width: 60px;

  .icon {
    font-size: 12px;
  }

  .label {
    font-size: 14px;
  }
}

.btn_size_m {
  padding: 0 10px;
  height: 40px;
  min-width: 72px;

  .icon {
    font-size: 14px;
  }

  .label {
    font-size: 17px;
  }
}

.btn_size_l {
  padding: 0 10px;
  height: 47px;
  min-width: 72px;

  .icon {
    font-size: 15px;
  }

  .label {
    font-size: 18px;
  }
}

.btn_size_xl {
  padding: 0 10px;
  height: 54px;
  min-width: 72px;

  .icon {
    font-size: 16px;
  }

  .label {
    font-size: 18px;
  }
}
