// COLORS
$theme-yellow: #F1B501;
$theme-blue: #2F80ED;
$theme-black: #333333;
$theme-dark-grey: #444444;
$theme-light-grey: #F6F6F6;
$theme-mid-grey: #9B9B9B;
$red-color: #EC0000;
$green-color: #00A825;
$yellow-color: #ffd52a;
$white-color: #FFFFFF;

// SCREEN SIZES BREAK POINTS
$desktop: 1200px;
$tablet: 991px;
$phone: 767px;
$small-phone: 550px;


