
.top_head {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid black;

  & > .logo {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/img/delhi-police.png);
    margin-left: 35px;
  }

  & > .title {
    align-self: flex-end;
    font-size: 50px;
    position: relative;
    bottom: 10px;
    left: 15px;
  }
  & > .sub_title{
    align-self: flex-end;
    font-size: 12px;
    position: relative;
    bottom: 20px;
    left: 25px;
    font-style: italic;
    color: #fcc640;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  & > .left_header {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    width: 65%;
  }

  & > .right_header {
    display: flex;
    padding-right: 20px;
    justify-content: space-evenly;
    width: 35%;

    & > .button_style {
      position: relative;
      bottom: 8px;
    }
    & >.item{
      padding: 5px;
      width: 25%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      bottom: 10px;
    }
  }
}