@import '../../config/config';

.detail_card {
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.4);
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  & > .inner_card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
  }

  & > button {
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;

    span {
      font-size: 17px;
    }
  }
}
