.map_view {
  margin-top: 40px;
  width: 100%;
  height: 780px;
  position: relative;
}
.marker_detail {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100px;
  bottom: 50%;
  width: 30%;
}