
.marker_green {
  //font-size: 35px;
  //color:red;
  background-image: url(/img/green-marker.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.marker_red {
  //font-size: 35px;
  //color:red;
  background-image: url(/img/red-marker.svg);
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
